@import "tailwindcss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.ant-menu-horizontal > .ant-menu-item::after {
  display: none !important;
}
